.hello-world-view {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;   
}
.common-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
